<h1 style="    background-image: url('assets/viewHeader.jpg');
    color: white;
    text-align: center">VIEW</h1>
<div class="container">
  <label>
    <b>
      Failure Id
    </b>
  </label>:
  <span>{{d.failure_id}}</span>
  <br />

  <label>
    <b>
      Motor 
    </b>
  </label>:

  <span>{{d.Motor_Name}}</span>

  <br />

  <label>
    <b>
      Date of Failure
    </b>
  </label>:

  <span>{{d.date_of_failure}}</span>
  <br />

  <label>
    <b>
      Reason Id
    </b>
  </label>:
  <span>{{d.reason_id}}</span>
  <br />

  <label>
    <b>
      Remarks
    </b>
  </label>:
  <span>{{d.remarks}}</span>
  <br />

  <label>
    <b>
      Date of Re-installation
    </b>
  </label>:
  <span>{{d.date_of_re_installation}}</span>
  <br />

  <label>
    <b>
      Status  (Active/Inactive)
    </b>
  </label>:

  <span>{{d.Status}}</span>
  <br />
</div>





