<h1 style="    background-image: url('assets/viewHeader.jpg');
    color: white;
    text-align: center">VIEW</h1>
<div class="container">

  <label>
    <b>
      Load Id
    </b>
  </label>:
  <span>{{d.load_id}}</span><br />

  <label>
    <b>
      Motor 
    </b>
  </label>:
  <span>{{d.Motor_Name}}</span><br />

  <label>
    <b>
      Serial Number
    </b>
  </label>:
  <span>{{d.serial_number}}</span><br />

  <label>
    <b>
      No-Load power (watts) - Before failure - 1'
    </b>
  </label>:
  <span>{{d.noload_power_bef_fail_1}}</span><br />

  <label>
    <b>
      No-Load power (watts) - Before failure - 2'
    </b>
  </label>:
  <span>{{d.noload_power_bef_fail_2}}</span><br />

  <label><b>Status</b></label>:

  <span>{{d.Status}}</span><br />






</div>
