<h1 style="    background-image: url('assets/viewHeader.jpg');
    color: white;
    text-align: center">VIEW</h1>
<div class="container">

  <label>
    <b>
      Motor Details Id
    </b>
  </label>:
  <span>{{d.Motor_Det_Id}}</span><br />

  <label>
    <b>
      Motor 
    </b>
  </label>:
  <span>{{d.Motor_Name}}</span><br />

  <label>
    <b>
      Motor identification number (to be created by mill)
    </b>
  </label>:
  <span>{{d.Motor_number}}</span><br />

  <label>
    <b>
      Machine Connected / Stock
    </b>
  </label>:
  <span>{{d.macconnected_stock}}</span><br />

  <label>
    <b>
      Serving section
    </b>
  </label>:
  <span>{{d.serving_section}}</span><br />

  <label>
    <b>
      Connected machine
    </b>
  </label>:
  <span>{{d.connected_machine}}</span><br />

  <label>
    <b>
      Driving part / system
    </b>
  </label>:
  <span>{{d.driving_part}}</span><br />

  <label>
    <b>
      Motor classification
    </b>
  </label>:
  <span>{{d.motor_classification}}</span><br />

  <label>
    <b>
      Motor-machine coupling
    </b>
  </label>:
  <span>{{d.motor_mac_coupling}}</span><br />

  <label>
    <b>
      The reason behind the purchase
    </b>
  </label>:
  <span>{{d.purchase_reason}}</span><br />

  <label>
    <b>
      Purchase date, month, year
    </b>
  </label>:
  <span>{{d.purchase_date}}</span><br />

  <label>
    <b>
      Status  (Active/Inactive)
    </b>
  </label>:
  <span>{{d.Status}}</span><br />


</div>
