<div class="container">
<div class="imgcontainer">
<img src="assets/sitra_round.png" alt="Avatar" class="avatar">
</div>
<div class="container">
  <form (submit)="onSubmit()">
    <div>
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]="uname" required>
    </div>
    <div>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]="psw" required>
</div>
<div>
<label>
    <input type="checkbox" checked="checked" name="remember"> Remember me
  </label>
</div>
    <button type="submit">Login</button>
  </form>
  </div>
</div>
