<div>
  <div class="header">
    <app-app-header (messageEvent)="receiveMessage($event)" title='Motor Management' style="background-color: black;"></app-app-header>
  </div>
  <div class="row">
    <div class="col-md-3">
      <app-menu-list2 style="width:100%"></app-menu-list2>
      <!--<app-menu-list style="width:100%" (messageEvent)="receiveMessage($event)"></app-menu-list>-->
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<router-outlet *ngIf="isCollapsed"></router-outlet>

