<h1 style="    background-image: url('assets/viewHeader.jpg');
    color: white;
    text-align: center">VIEW</h1>
<div class="container">

  <label>
    <b>
      Register Id
    </b>
  </label>:
  <span>{{d.register_id}}</span><br />

  <label>
    <b>
      Motor 
    </b>
  </label>:
  <span>{{d.Motor_Name}}</span><br />

  <label>
    <b>
      Movement Date
    </b>
  </label>:
  <span>{{d.mov_date}}</span><br />

  <label>
    <b>
      Type of movement
    </b>
  </label>:
  <span>{{d.mov_type}}</span><br />

  <label>
    <b>
      Reason
    </b>
  </label>:
  <span>{{d.mov_reason}}</span><br />

  <label>
    <b>
      From Machine Id
    </b>
  </label>:
  <span>{{d.from_machine}}</span><br />

  <label>
    <b>
      To Machine Id
    </b>
  </label>:
  <span>{{d.to_machine}}</span><br />

  <label>
    <b>
      Status  (Active/Inactive)
    </b>
  </label>:

  <span>{{d.status}}</span><br />

</div>
