<h1 style="    background-image: url('assets/viewHeader.jpg');
    color: white;
    text-align: center">VIEW</h1>
<div class="container">

  <label><b>Motor</b></label>:
  <span>{{d.Motor_Name}}</span><br />

  <label><b>Motor Make</b></label>:
  <span>{{d.Motor_Name}}</span><br />

  <label>
    <b>
      Frame Size
    </b>
  </label>:
  <span>{{d.Frame_Size}}</span><br />

  <label>
    <b>
      Capacity (kW)
    </b>
  </label>:
  <span>{{d.Capacity}}</span><br />

  <label>
    <b>
      Sr. no.
    </b>
  </label>:
  <span>{{d.Serial_No}}</span><br />

  <label>
    <b>
      Voltage (volts)
    </b>
  </label>:
  <span>{{d.Voltage}}</span><br />

  <label>
    <b>
      Model no.
    </b>
  </label>:
  <span>{{d.Model_No}}</span><br />

  <label>
    <b>
      Current (amps)
    </b>
  </label>:
  <span>{{d.Current}}</span><br />

  <label>
    <b>
      Type of cooling
    </b>
  </label>:
  <span>{{d.Type_of_Cooling}}</span><br />

  <label>
    <b>
      Frequency (Hz)
    </b>
  </label>:
  <span>{{d.Frequency}}</span><br />

  <label>
    <b>
      Class of insulation
    </b>
  </label>:
  <span>{{d.Insulation_Class}}</span><br />

  <label>
    <b>
      pf
    </b>
  </label>:
  <span>{{d.Pf}}</span><br />

  <label>
    <b>
      Ingress protection  class
    </b>
  </label>:
  <span>{{d.Ingress_Protection_Class}}</span><br />

  <label>
    <b>
      Efficiency - η %
    </b>
  </label>:
  <span>{{d.Efficiency}}</span><br />

  <label>
    <b>
      duty cycle
    </b>
  </label>:
  <span>{{d.Duty_Cycle}}</span><br />

  <label>
    <b>
      Date and year of manufacture
    </b>
  </label>:
  <span>{{d.Manufacture_Date}}</span><br />

  <label>
    <b>
      weight kg
    </b>
  </label>:
  <span>{{d.Weight}}</span><br />

  <label>
    <b>
      bearing details
    </b>
  </label>:
  <span>{{d.Bearing_Det}}</span><br />

  <label>
    <b>
      Motor QR Code
    </b>
  </label>:
  <span>{{d.Motor_QR_Code}}</span><br />

  <label>
    <b>
      HP
    </b>
  </label>:
  <span>{{d.HP}}</span><br />

  <label>
    <b>
      kW
    </b>
  </label>:
  <span>{{d.kW}}</span><br />

  <label>
    <b>
      AC/DC
    </b>
  </label>:
  <span>{{d.AC_DC}}</span><br />

  <label>
    <b>
      Three Phase / Single Phase
    </b>
  </label>:
  <span>{{d.Phase}}</span><br />

  <label>
    <b>
      Type of motor (Induction / SERVO / PMMC / SR)
    </b>
  </label>:
  <span>{{d.Type_of_motor}}</span><br />

  <label>
    <b>
      Service factor
    </b>
  </label>:
  <span>{{d.service_factor}}</span><br />

  <label>
    <b>
      Efficiency class - (IE3 / IE4 / IE5)
    </b>
  </label>:
  <span>{{d.Efficiency_class}}</span><br />

  <label>
    <b>
      IP Class
    </b>
  </label>:
  <span>{{d.IP_class}}</span><br />

  <label>
    <b>
      NBE
    </b>
  </label>:
  <span>{{d.NBE}}</span><br />
  <label>
    <b>
      VFD driven (Y/N)
    </b>
  </label>:

  <span>{{d.VFD}}</span><br />


</div>
