<h1 style="    background-image: url('assets/viewHeader.jpg');
    color: white;
    text-align: center">VIEW</h1>
<div class="container">


  <label>
    Load Id
  </label>:
  <span>{{d.load_id}}</span><br />


  <label>
    Motor 
  </label>:
  <span>{{d.Motor_Name}}</span><br />



  <label>
    NO-LOAD VOLTAGE (in Volt) - R
  </label>:

  <span>{{d.noload_voltage_R}}</span><br />


  <label>
    NO-LOAD VOLTAGE (in Volt) - Y
  </label>:
  <span>{{d.noload_voltage_Y}}</span><br />




  <label>
    NO-LOAD VOLTAGE (in Volt) - B
  </label>:

  <span>{{d.noload_voltage_B}}</span><br />


  <label>
    NO- LOAD CURRENT (in Ampere) - R
  </label>:
  <span>{{d.noload_current_R}}</span><br />



  <label>
    NO- LOAD CURRENT (in Ampere) - Y
  </label>:
  <span>{{d.noload_current_Y}}</span><br />



  <label>
    NO- LOAD CURRENT (in Ampere) - B
  </label>:
  <span>{{d.noload_current_B}}</span><br />



  <label>
    STATOR RESISTANCE (in ohm) - R
  </label>:

  <span>{{d.stator_resistance_R}}</span><br />


  <label>
    STATOR RESISTANCE (in ohm) - Y
  </label>:
  <span>{{d.stator_resistance_Y}}</span><br />



  <label>
    STATOR RESISTANCE (in ohm) - B
  </label>:
  <span>{{d.stator_resistance_B}}</span><br />



  <label>
    STATOR TEMPERATURE (in deg C)
  </label>:

  <span>{{d.stator_temperature}}</span><br />

  <label>Status</label>:
  <span>{{d.Status}}</span><br />


</div>
