/* You can add global styles to this file, and also import other style files */
button {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  margin: 3px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.header {
  flex-shrink: 0;
  flex-grow: 0;
  padding: 3px 5px;
}

.head {
  max-width: 100%;
  overflow-x: hidden;
}

button:hover {
  opacity: 0.8;
}
* {
  font-family:'Times New Roman', Times, serif !important
}
label {
  width: 150px;
}

.edit {
  background-color: blue !important;
}

.delete {
  background-color: red !important;
}

.view {
  background-color: green !important;
}

CalculateMotorEfficiency {
  background-color: green !important;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

.card.customClass,
.card.customClass .card-header,
.panel.customClass {
  background-color: #000000;
  color: #ffffff;
  text-align: left;
}

  .card.customClass,
  .card.customClass .card-header,
  .customClass {
   
  }

  .panel.customClass .panel-body {
    background-color: #000000;
    
  }

  .panel.customClass .card-body {
    padding: 0px !important;

  }

table img {
  width: 25px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  table tr:hover {
    background-color: #ddd;
  }

  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
.vertical-menu {
  width: 300px;
  text-align: left !important;
}

  .vertical-menu button {
    float: left !important;
    text-align: left !important;
  }

  .vertical-menu a {
    background-color: #eee;
    color: white;
    display: block;
    padding: 12px;
    margin-left: 8px;
    text-decoration: none;
  }

.menu {
  color: white;
  padding: 20px;
  width: 300px;
  float: right;
  opacity: 0.9;
}

.highlight {
  background-color: green
}

.normalState {
  background-color: #eee;
}

.acButton {
  background-color: #000000 !important;
}

.panel-heading card-header panel-enabled {
  background-color: black !important;
}

.vertical-menu a:hover {
  background-color: #ffffff;
}

.menuHeader {
  color: white;
  display: block;
  padding: 12px;
  float: left;
  text-align: left;
  text-decoration: none;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}

.menu:hover {
  opacity: 0.8;
}
