<h1 style="    background-image: url('assets/viewHeader.jpg');
    color: white;
    text-align: center">VIEW</h1>
<div class="container">

  <label>
    <b>
      Load Id
    </b>
  </label>:
  <span>{{d.load_id}}</span><br />

  <label>
    <b>
      Motor 
    </b>
  </label>:
  <span>{{d.Motor_Name}}</span><br />

  <label>
    <b>
      NO-LOAD VOLTAGE (in Volt) - R
    </b>
  </label>:
  <span>{{d.noload_voltage_R}}</span><br />

  <label>
    <b>
      NO-LOAD VOLTAGE (in Volt) - Y
    </b>
  </label>:
  <span>{{d.noload_voltage_Y}}</span><br />

  <label>
    <b>
      NO-LOAD VOLTAGE (in Volt) - B
    </b>
  </label>:
  <span>{{d.noload_voltage_B}}</span><br />

  <label>
    <b>
      NO- LOAD CURRENT (in Ampere) - R
    </b>
  </label>:
  <span>{{d.noload_current_R}}</span><br />

  <label>
    <b>
      NO- LOAD CURRENT (in Ampere) - Y
    </b>
  </label>:
  <span>{{d.noload_current_Y}}</span><br />

  <label>
    <b>
      NO- LOAD CURRENT (in Ampere) - B
    </b>
  </label>:
  <span>{{d.noload_current_B}}</span><br />

  <label>
    <b>
      STATOR RESISTANCE (in ohm) - R
    </b>
  </label>:
  <span>{{d.stator_resistance_R}}</span><br />

  <label><b>STATOR RESISTANCE (in ohm) - Y</b></label>:
  <span>{{d.stator_resistance_Y}}</span><br />

  <label><b>STATOR RESISTANCE (in ohm) - B</b></label>:
  <span>{{d.stator_resistance_B}}</span><br />

  <label><b>STATOR TEMPERATURE(in deg C)</b></label>:
  <span>{{d.stator_temperature}}</span><br />

  <label><b>Status</b></label>:
  <span>{{d.Status}}</span><br />




</div>
